ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tweet-div {
    margin: 10px auto;
    margin-left: 5px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center; 
    border: 2px inset grey;
    
    max-width: 400px;
    width: 100%;
    height: 750px;
    padding: 5px;
   
   
}
.tweets{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden; 
}
.tweet-div h2 {
    text-align: center;
    
}
.tweet-image {
    width: 20px;
}
.tweet-item {
    word-wrap: normal;
    margin: 5px 0;
    box-shadow: 1px 1px 3px grey;
    padding: 3px;
}
.tweet-item:hover {
    background-color: var(--cream);
}
.userAccount {
    display: flex;
    font-weight: bold;

}
.userAccount img {
    margin-right: 5px;
}