ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tweet-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    margin-left: auto;
    border: 5px inset grey;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 800px;
    padding: 5px;
}
.tweet-div h2 {
    text-align: center;
    
}
.tweet-image {
    width: 400px;
}
.tweet-item {
    word-wrap: normal;
    margin: 5px 0;
    box-shadow: 1px 1px 3px grey;
    padding: 3px;
}
.userAccount {
    display: flex;
    font-weight: bold;

}
.userAccount img {
    margin-right: 5px;
}