ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tweet-div {
    
    /* margin-left: 5px; */
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center; 
    box-shadow: 1px 1px 10px grey;
    max-width: 100%;
    width: 100%;
    max-height: 850px;
    padding: 5px;
    /* margin: 10px 7px; */
   
}
.tweets{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden; 
    border-top: 2px solid black;
}
.tweet-div h2 {
    text-align: center;
    
}
.tweet-image {
    width: 20px;
}
.tweet-item {
    word-wrap: normal;
    margin: 5px 0;
    box-shadow: 1px 1px 3px grey;
    padding: 3px;
}
.tweet-item:hover {
    background-color: var(--cream);
}
.userAccount {
    display: flex;
    font-weight: bold;

}
.userAccount img {
    margin-right: 5px;
}