.trending-li {
    display: flex;
    margin: 5px;
}
p {
    margin: 5px;
}

.trending-list {
    display: flex;
    justify-content: center;
    height: 500px;
    overflow-y: scroll;
}
.new-user-wrapper {
    display: flex;
}

.advice-articles {
    display: flex;
    flex-direction: column;
    width: 600px;

}