

.watchlist {
    display: flex;
    flex-direction: column;
}

.add-portfolio {
    width: 160px;
}

.total-gain {
    margin-left: auto;
    /* width: 100vw; */
    display: flex;
}

.gain-span {
    margin-left: auto;
    /* width: 100vw; */
}