.leftSideBarCont {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 100vh;
}
.border {
    margin: 10px 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    overflow: scroll;
    max-height: 100%;
    padding: 10px;
}

