.graph-div{
    margin: 10px auto;
    padding: 10px;
}
.graphDate {
    box-shadow: 1px 1px 10px grey;
    padding-bottom: 20px;
}
.recharts-wrapper{
    position: center;
    color: black;
    padding: 0;
    margin: 10px auto;
}

.recharts-surface{
   color: orange; 
}
.new-cost{
    color: green;
}

.date-picker-div{
    text-align: center;
    margin: 5px auto;
}
.graph-section{
    display: grid;
    grid-template-rows: 3fr 2fr;
    max-width: 95%;

}
.graph-header-div {
    text-align: center;
}