body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
:root{
    --white: rgba(255,255,255,1);
    --cream: rgba(215,215,215,1);
}
.App {
  text-align: center;
  box-sizing: border-box;
}

.links{
  font-size: 1.3rem;
  margin: 5px 10px;
  width: 200px;
  color: white;
  font-weight: bold;
  /* -webkit-text-stroke: 2px black;
  paint-order: stroke fill; */
  text-decoration: none;
}


.about {
  color: yellow;
  text-shadow: -2px 0 5px yellow;
  text-decoration: none;
  position: absolute;
  right: 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.links:nth-child(4){
  color: yellow;
  text-shadow: -2px 0 5px yellow;
  text-decoration: none;

  /* -webkit-text-stroke: 2px black; */
 
}

.active {
  color: rgb(0, 255, 0);
  background-color: black;
  text-shadow: -2px 0 5px rgb(0, 255, 0);
  /* -webkit-text-stroke: 2px white; */
} 
.header-div{
 display: grid;
 grid-template-columns: repeat(1fr, 12);
 overflow: hidden;
 background-color: black;
 color: white;

}
.marquee-div{
  background: black;
}
.ticker-list {
  float: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(0,0,0,0);
  animation: tickerMove 20s infinite;
  background-color: black;
}
.ticker-item{
  width: 115px;
  overflow: hidden;
  padding: 5px;
}

@keyframes tickerMove {
  0%   {right: 0px;}
  50%   {right: 26%}
  100% {right: 0px}
} 
.sym{
  color: rgb(4, 252, 4);
  font-weight: bold;
  text-shadow: -2px 0 10px red;
}
.nav {
  border-bottom: 2px solid black;
  padding: 0;
  background: white;

}

.moduleStyle {

  box-shadow: 2px 2px 10px grey;
}
