.App {
  text-align: center;
}

.links{
  margin: 0 10px;
  width: 200px;
}
.active {
  color: #61dafb;
} 
.header-div{
 display: grid;
 grid-template-columns: repeat(1fr, 12);
 overflow: hidden;
}
.ticker-list {
  float: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  animation: tickerMove 20s infinite;
}
.ticker-item{
  width: 115px;
  overflow: hidden;
  padding: 5px;
}

@keyframes tickerMove {
  0%   {right: 0px;}
  50%   {right: 26%}
  100% {right: 0px}
} 
.sym{
  color: green;
  font-weight: bold;
}