#video {
    position: fixed;
    /* top: 140px; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* .video-div {
    width: 100vh;
    height: 100vh;
    position: relative;
} */

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.user-form {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 65%;
    height: 200px;
    border: 2px solid white;
    border-radius: 5px;
    /* background-color: white; */
    background: rgba(255,255,255,0.8);


}

.user-form input {
    margin: 5px;
    padding: 5px;
    width: 225px;
    border-radius: 5px;
}

.signup-link {
    color: rgb(97, 18, 143);
    width:100%;
    text-align: center;
    font-weight: 400; 
  }

.login-signup-button {
    border-radius: 5px;
    height: 28px;
    background-color: white;
}
.welcome {
    text-align: center;
}